<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'>
</head>

<body>

    <head>
        <h1>Index</h1>
    </head>
    <div role="main">
        <table>
            <tr>
                <% =content%>
            </tr>
        </table>
    </div>
</body>

</html>