<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>

<body>
    <h1>HOMEPAGE</h1>
    <p>copy rights-------</p>
</body>
<input type="text" name="id">
<input type="password" name="password">
<input type="submit" value="送信">

</html>